@model IEnumerable<EBinder.Models.Plant>
@using EBinder.App_GlobalResources
@{
    ViewBag.Title = Resource.Plants;
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink(Resource.ReturnToDashboard, "Index", "Home")
</p>
<p>
    @Html.ActionLink(Resource.CreateNew, "Create")
</p>
<table>
    <tr>
        <th class="table-header">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="table-header">
            @Html.DisplayNameFor(model => model.Region.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="table-cell">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td class="table-cell">
            @Html.DisplayFor(modelItem => item.Region.Name)
        </td>
        <td class="table-cell">
            @Html.ActionLink(Resource.Links, "Links", new { id = item.PlantID }) |
            @Html.ActionLink(Resource.Edit, "Edit", new { id=item.PlantID }) |
            @Html.ActionLink(Resource.Delete, "Delete", new { id = item.PlantID }, new { onclick = "return confirm('"+ Resource.DeleteConfirmation +"');" })
        </td>
    </tr>
}

</table>
