@model EBinder.Models.Department
@using EBinder.App_GlobalResources

@{
    ViewBag.Title = Resource.Create;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Resource.Department</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlantID, "Plant")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PlantID", String.Empty)
            @Html.ValidationMessageFor(model => model.PlantID)
        </div>

        <p>
            <input type="submit" value="@Resource.Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Resource.BackToList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
