<script src="../../Scripts/jquery-1.7.1.js" type="text/javascript"></script>
<script src="../../Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        if ($("#UserType").val() != "Administrator") {
            $("#Regions").attr("disabled", "disabled");
            $("#Plants").attr("disabled", "disabled");
        }
        else {
            $("#Regions").removeAttr("disabled");
            $("#Plants").removeAttr("disabled");
        }

        $("#Regions").change(function () {
            $("#Plants").empty();
            $("#Regions").removeAttr("disabled");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetPlants")', // we are calling json method
                dataType: 'json',
                data: { id: $("#Regions").val() },

                success: function (plants) {
                    // states contains the JSON formatted list
                    // of states passed from the controller
                    $.each(plants, function (i, plant) {
                        $("#Plants").append('<option value="' + plant.Value + '">' + plant.Text + '</option>');
                    });
                    $("#Plants").change();
                    if ($("#UserType").val() != "Administrator") {
                        $("#Regions").attr("disabled", "disabled");
                    }
                },
                error: function (ex) {
                    alert('Failed to retrieve plants.' + ex);
                }
            });
            return false;
        })

        $("#Plants").change(function () {
            $("#Departments").empty();
            $("#Plants").removeAttr("disabled");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDepartments")', // we are calling json method
                dataType: 'json',
                data: { id: $("#Plants").val(), regionID: $("#Regions").val() },

                // here we are get value of selected country and passing same value as inputto json method GetStates.

                success: function (departments) {
                    // states contains the JSON formatted list
                    // of states passed from the controller
                    $.each(departments, function (i, department) {
                        $("#Departments").append('<option value="' + department.Value + '">' + department.Text + '</option>');
                    });
                    $("#Departments").change();
                    if ($("#UserType").val() != "Administrator") {
                        $("#Plants").attr("disabled", "disabled");
                    }
                },
                error: function (ex) {
                    alert('Failed to retrieve departments.' + ex);
                }
            });
            return false;
        })

        $("#Departments").change(function () {
            $("#Cells").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCells")', // we are calling json method
                dataType: 'json',
                data: { id: $("#Departments").val(), plantID: $("#Plants").val(), regionID: $("#Regions").val() },

                // here we are get value of selected country and passing same value as inputto json method GetStates.

                success: function (cells) {
                    // states contains the JSON formatted list
                    // of states passed from the controller
                    $.each(cells, function (i, cell) {

                        $("#Cells").append('<option value="' + cell.Value + '">' + cell.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve cells.' + ex);
                }
            });
            return false;
        })

        $("#submit").before(function(){
            $("#Regions").removeAttr("disabled");
            $("#Plants").removeAttr("disabled");
        });
    });
</script>

@{
    ViewBag.Title = "Change Filter";
}

<h2>@ViewBag.Title</h2>
@Html.Hidden("UserType", Session["UserType"])

@using (Html.BeginForm())
{

    <fieldset>
        <legend>Filter</legend>
    <table>
        <tr>
            <td>Region</td>
            <td>@Html.DropDownList("Regions", ViewData["Regions"] as List<SelectListItem>)</td>
        </tr>
        <tr>
            <td>Plant</td>
            <td>@Html.DropDownList("Plants", ViewData["Plants"] as List<SelectListItem>)</td>
        </tr> 
        <tr>
            <td>Department</td>
            <td>@Html.DropDownList("Departments", ViewData["Departments"] as List<SelectListItem>)</td>
        </tr>
        <tr>
            <td>Cell</td>
            <td>@Html.DropDownList("Cells", ViewData["Cells"] as List<SelectListItem>)</td>
        </tr> 
        <tr>
            <td>Part</td>
            <td>@Html.DropDownList("Parts", ViewData["Parts"] as List<SelectListItem>)</td>
        </tr> 
</table><p>
            <input type="submit" value="Apply New Filter" name="submit" />
        </p>
    </fieldset>
}




