@{
    ViewBag.Title = "eBinder Administration";
}

<h2>@ViewBag.Title</h2>
@Html.ActionLink("Regions", "Index", "Region", null, null)
<br />
@Html.ActionLink("Plants", "Index", "Plant", null, null)
<br />
@Html.ActionLink("Departments", "Index", "Department", null, null)
<br />
@Html.ActionLink("Cells", "Index", "Cell", null, null)
<br />
@Html.ActionLink("User Types", "Index", "UserType", null, null)
<br />
@Html.ActionLink("Users", "Index", "User", null, null)
<br />
@Html.ActionLink("References", "Index", "Reference", null, null)
<br />
@Html.ActionLink("Reference Type", "Index", "ReferenceType", null, null)
<br />
@Html.ActionLink("Reference Category", "Index", "ReferenceCategory", null, null)
<br />
@Html.ActionLink("My Plant Icons", "Icons", "Plant", null, null)
<br />
@Html.ActionLink("Home Page Icons", "HomeIcons", "Plant", null, null)